$tamanhoBotao: 2rem;

body {
    font-family: 'Roboto', sans-serif;
}

.invisivel {
    display: none;
}

#playerPalavra  {
    margin-bottom: 1rem;
}

#playerPalavra, #playerAdivinha {
    border: 1px solid black;
    padding: 3rem;
    text-align: center;
    border-radius: 15px;

    input[type=text],input[type=password] {
        height: $tamanhoBotao;
        border-radius:30px;
        margin-bottom: 1rem;
        border: 1px solid gray;
        text-align: center;
        text-transform: uppercase;
    }

    button {
        display: inline-block;
        height: $tamanhoBotao;
        padding: 0 2rem;
        border-style: none;
        border-radius:10px;
    }
}


#forca {
    margin-bottom: 1rem;
    span {
        font-size: 2rem;
    }
}

.campoPalavra {
    width: 50%;
    border-radius:30px;
}

.campoLetra {
    width: 10%;
    border-radius: 10px;
}